<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @user.name %>!</h1>
<p>
  Your ticket was changed.
  You can see it <%=link_to "there", ticket_path(@ticket, only_path: false) %>.<br>
</p>
</body>
</html>