<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Issue tracker, <%= @user.name %></h1>
<p>
  You have successfully added yours ticket.
  You can see it <%=link_to "there", ticket_path(@ticket, only_path: false) %>.<br>
</p>
<p>Thanks for ticket and have a great day!</p>
</body>
</html>